<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.at2024.redis7_study.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.at2024.redis7_study.entities.Product">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="detail" jdbcType="VARCHAR" property="detail" />
    </resultMap>

    <select id="selectProductById" resultType="com.at2024.redis7_study.entities.Product" parameterType="java.lang.Integer">
        SELECT id, name, price, detail
        FROM t_product
        WHERE id = #{id,jdbcType=INTEGER}
    </select>


</mapper>